.TodoList_item {
    padding: 5px 0px;
    font-size: 25px;
    display: flex;
}

.TodoList_item button {
    padding: 5px 0px;
    font-size: 15px;
    margin: 0 20px;
    background-color: #9ED2BE;
    border: none;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s;
}

.TodoList_item button:active {
    background-color: red !important;
}