.background_user {
    background-color: white;
    width: fit-content;
    padding: 20px;
    text-align: center;
}

.background_user img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.background_user p {
    color: black;
    font-size: 30px;
    margin: 0;
}